html, body{
	font-family: fantasy;
	margin: 0px;
}
header{
	background-color: #328ba8;
	padding: 40px; 
	text-align: center;
}

h1{
	font-size: 90px; 
	color: white;
	font-style: italic;
}
header img{
border-radius: 150px;
border-width: 300px;
border: 10px solid #a8d5f7
}
.content{
	max-width: 900px;
	padding: 0
	margin: 0 auto;
	background-color: #c9eeff
}
img.big-image{max-width: 100%
}

p.caption{
	font-size: 16px;
	color: white;
	font-style: italic;
}
ul{
	list-style-type: circle;
	padding: 0;
	margin: 0;
}
a{
	color: pink;
	text-decoration: none;
}
footer{
	background-color: #c9eeff
	padding: 40px 20px;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;

}
/*<header>
	<img src="img/profile.jpg">
	<h1> Princess Jasmine</h1>
</header>*/